<?xml version="1.0"?>
<!--
  @author Wouter Samaey <wouter.samaey@storefront.agency>
  @license MIT
  -->

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="../../Store/etc/config.xsd">
    <default>
        <payment>
            <btcpay_group>
                <btcpay>
                    <active>1</active>
                    <title>Pay with Bitcoin</title>
                    <model>Storefront\BTCPay\Model\BTCPay</model>
                </btcpay>
            </btcpay_group>
        </payment>
    </default>
</config>
