<?xml version="1.0" ?>
<!--
  @author Wouter Samaey <wouter.samaey@storefront.agency>
  @license MIT
  -->

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="standard">
        <route frontName="btcpay" id="btcpay">
            <module name="Storefront_BTCPay"/>
        </route>
    </router>
</config>
